.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: radial-gradient(
    circle closest-corner at center,
    #ffffff,
    #b4c3ca 50%,
    #ffffff
  );
}

.login_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  height: 40vh;
  border-radius: 5%;
}

.login_form_container::before {
  content: "";
  position: absolute;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  background-color: #afafaf;
  opacity: 0.1;
  border-radius: inherit;
}
